<!-- <table>
    <thead>
        <tr>
            <th>Select</th>
            <th>Policy Number</th>
            <th>Policy Holder</th>
            <th>Status</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
        @for(policy of store.filteredPolicies(); track policy.id){
            <tr>
                <td>
                    <input type="checkbox" [checked]="store.selectedPolicyIds().includes(policy.id)" (change)="store.toggleSelection(policy.id)">
                </td>
                <td>{{ policy.policyNumber }}</td>
                <td>{{ policy.policyHolderName }}</td>
                <td>{{ policy.status }}</td>
                <td>{{ policy.region }}</td>
            </tr>
        }
    </tbody>
</table> -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Select Checkbox -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="toggleSelectAll()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let policy">
            <mat-checkbox (change)="store.toggleSelection(policy.id)" [checked]="store.selectedPolicyIds().includes(policy.id)"></mat-checkbox>
        </td>
    </ng-container>
    <!-- Policy Number Column -->
    <ng-container matColumnDef="policyNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Number</th>
        <td mat-cell *matCellDef="let policy">{{ policy.policyNumber }}</td>
    </ng-container>
    <!-- Policy Holder Name Column -->
    <ng-container matColumnDef="policyHolderName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Holder</th>
        <td mat-cell *matCellDef="let policy">{{ policy.policyHolderName }}</td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let policy">{{ policy.status }}</td>
    </ng-container>
    <!-- Region -->
    <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
        <td mat-cell *matCellDef="let policy">{{ policy.region }}</td>
    </ng-container>
    <!-- Premium Column -->
    <ng-container matColumnDef="premium">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Premium</th>
        <td mat-cell *matCellDef="let policy">{{ policy.premiumAmount }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
@if(store.filteredPolicies().length === 0) {
  <p>No policies selected.</p>
}