<form [formGroup]="filterForm" class="filter-bar">

  <mat-form-field appearance="outline" class="filter-bar__search">
    <mat-label>Search policies</mat-label>
    <input matInput formControlName="searchTerm" placeholder="Policy No. / Holder / Underwriter">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <button mat-stroked-button class="filter-bar__btn" (click)="openFilters()"
    [class.filter-bar__btn--active]="activeFilterCount() > 0">
    <mat-icon>tune</mat-icon>
    All Filters
    @if (activeFilterCount() > 0) {
      <span class="filter-bar__badge">{{ activeFilterCount() }}</span>
    }
  </button>

</form>
